body {
  margin: 0;
  padding: 0;

  font-family: "Courier New", Courier, monospace;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.polls {
  background-color: pink;
  text-align: center;

  padding: 20px;
  border-radius: 10px;
}

.polls img {
  width: 70%;
}

.polls button {
  margin: 10px;
  text-decoration: none;
}
